.texpadtmp
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
Rplots.pdf
_cache
_site
cache
temp.Rmd
*_cache
*_files
_book
_main.*
notes
deleted
*.log
figures/*.aux
figures/*.log
figures/*.gz
figures/.texpadtmp
Hinweise
render*.rds
*.utf8.md
*.aux
*.bbl
*.out
*.tex
!figures/A-Markdown-Ordnerstruktur.tex
!figures/chap3-data-folder.tex
!figures/title_page.tex
!figures/vis-hb-faz.tex
!figures/chap-data-Ordnerstruktur.tex
!figures/data-data-classification.tex
!figures/vector-classification.tex
!figures/wd-structure.tex
!title.tex
*.toc
*.blg
R-SocioEcon-dt.md
libs
SocioEconMethodsR.Rproj
R-SocioEcon-dt.html
renv/library/
renv/python/
renv/staging/

