*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
_cache
_site
cache
temp.Rmd
*_cache
*_files
_book
_main.*
notes
*.log
figures/*.aux
figures/*.log
figures/*.gz
figures/.texpadtmp
Hinweise
render*.rds
*.utf8.md
*.aux
*.bbl
*.out
*.tex
*.toc
*.blg
*.html
R-SocioEcon-dt.md
